@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Regular.woff) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Bold.woff) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Archivo Black";
  src: url(./fonts/ArchivoBlack-Regular.woff) format("woff2");
  font-weight: 400;
}
